<div class="container mt-4">

  <h1 class="text-center text-danger">{{ title }}</h1>

  <nav>
    <ul class="list-inline d-flex justify-content-center">
      <li class="list-inline-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" routerLink="mostre">Mostre</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" routerLink="visitatore">Visitatore</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>